<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">Online Hotel Booking</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="MyNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="home" a class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="/roompage" a class="nav-link">Roompage</a>
                </li>
                <li class="nav-item">
                  <a href="#" a class="nav-link">Contact</a>
                </li>
                <form class="form-inline">
                  <button type="button" class="btn btn-success button" >BOOK NOW</button>
                </form>
              </li>
            </ul>
          </div>
          {% if user.is_authenticated %}
            <div class="form-inline my-2 my-lg-0">
              <div class="p-2 bg-dark text-white">Logged in as {{ user.username }}</divp>
              <a href="{% url 'logout' %}">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Logout</button>
              </a>
            </div>
          {% else %}
            <a href="{% url 'login' %}">
              <button class="mr-2 btn btn-success my-2 my-sm-0" type="submit">Login</button>
              </a>
            <a href="{% url 'register' %}">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Register</button>
              </a>
          {% endif %}
        </nav>
      </div>